$color-teal: #114b5f;
$color-aqua: #028090;
$color-mint: #e4fde1;
$color-blue: #456990;
$color-red: #f45b69;
$color-violet: #272A53;
$font-heading: 'Pathway Gothic One', sans-serif;
$font-body: 'Oswald', sans-serif;
